<!--The content below is only a placeholder and can be replaced.-->
<div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <app-menu></app-menu>
        </ul>
      </div>

      <div class="ao-centro col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h1>Sistema de Gestão Municipal</h1>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a *ngIf="route.url!='/login'" class="nav-link" href="/#">Sair <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div>
    <angular-loader></angular-loader>
    <router-outlet></router-outlet>
</div>
 