<app-message></app-message>
<div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">

  <h2>Gerenciamento de Usuários</h2>

  <div *ngIf="isMaster" class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8 a-esquerda row">
    <div class="form-group col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <label for="id">Busca por cooperativa</label>
      <select class="custom-select" id="cooperativa" required [(ngModel)]="cooperativaEscolhida" [ngModelOptions]="{standalone: true}"
      (change)="buscarPorCooperativa()">
        <option selected>Selecione...</option>
        <option *ngFor="let coop of cooperativas" [ngValue]="coop">{{coop.identificacao}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="usuarios.length > 0" class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive col-sm-12 col-md-12 col-lg-12 col-xl-12 table table-striped">
      <div class="container">
        <div matSort (matSortChange)="sortData($event)" class="row t-header">
          <div mat-sort-header="cpf" class="col-sm-2 col-md-2 col-lg-2 col-xl-2">CPF</div>
          <div mat-sort-header="nome" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">Nome</div>
          <div mat-sort-header="secao" class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Seção</div>
          <div mat-sort-header="funcao" class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Função</div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"> Ações </div>
        </div>
        <div class="row t-body" *ngFor="let u of usuarios | paginate: { itemsPerPage: 10, currentPage: p }">
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{u.cpf | mask: '000.000.000-00'}}</div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">{{u.nome}}</div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{u.secao}}</div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">{{u.codigoFuncao}}</div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <a (click)="editarUsuario(u)"><img title="Editar Usuário" class="icon-click" src="assets/svg/si-glyph-pencil.svg" /></a>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls *ngIf="usuarios.length > 10" class="pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
  <div *ngIf="usuarios.length == 0" class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
    Não foram encontrados usuários cadastrados
  </div>

  <ng-template #modal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Excluir</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Tem certeza que deseja excluir o treinamento "{{treinamentoEscolhido.nome}}"? Isso tabém excluirá TODAS as
      matriculas realizadas neste treinamento.
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-2">
      <div class="left-button">
        <button type="button" class="btn btn-success" (click)="deletarTreinamento();modalRef.hide()">
          Sim
        </button>
      </div>
      <div class="right-button">
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()">
          Não
        </button>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>

</div>