<li *ngIf="route.url=='/login'"class="nav-item">
  <a class="nav-link" href="/primeiro-acesso">Primeiro acesso</a>
</li>
<li *ngIf="route.url!='/login' && route.url!='/cadastro'" class="nav-item dropdown">
  <a (click)="montaMenu()" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </a>
  <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a *ngIf="admin" class="dropdown-item" href="/gerenciamento-usuario-editar">Gerenciar Atribuições de Usuários</a>
    <a *ngIf="citizen || admin " class="dropdown-item" href="/imposto-territorial">Consulta a Impostos Territoriais</a>
    <a *ngIf="admin  || citizen || employee" class="dropdown-item" href="/consulta-projetos-listar">Consulta Andamento de Projetos</a>
  </div>
</li>
