<div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h2>
    ACESSO RESTRITO
  </h2>
</div>
  
  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 ao-centro login">
    <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <p>As suas atribuições não permitem acesso à pagina requisitada.</p>
      <p>Caso possua outra atribuição <a [routerLink]="['/login']" routerLinkActive="/forbidden" >clique</a> aqui para realizar login novamente escolhendo a outra atribuição ou faça login com outro usuário que a possua.</p>

    </div>
    
  </div>